

<div class="main-content mt-4">
    <div class="container content" data-aos="fade-in">
        <div class="row">
         
  <div class="card container test">
    <div class="card-header card-header-danger" >
      <h3 class="card-title">THE 2019 AFL LADDER</h3>
    </div>
    <div class="card-content  table-responsive table-full-width">
      <table class="table">
        <thead class="text-danger">
          <th>Position</th>
          <th>Team</th>
        </thead>
        <tbody>
          <tr class="list" *ngFor="let filter1 of gameData">
            <td> </td> <!-- Use this for teams position-->
            <td> </td> <!-- Use this for teams-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
        </div>
    </div>
  </div>
  
  
  
  