<div class="main-content mt-4">
  <div class="container" data-aos="fade-in">
      <div class="row">
       
<div class="card container test">
  <div class="card-header card-header-danger" >
    <h4 class="card-title">Upcoming Games</h4>
    <p class="card-category">{{TeamName}}</p>
  </div>
  <div class="card-content table-responsive table-full-width">
    <table class="table">
      <thead class="text-danger">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Venue</th>
          <th scope="col">Team A</th>
          <th scope="col">Team B</th>
          <th scope="col">Prediction</th>
        </tr>
      </thead>
      <tbody>
        <tr class="list" *ngFor="let filter1 of gameData">
          <td>{{filter1.date | date:'longDate'}}</td>
          <td>{{filter1.venue}}</td>
          <td class="text-danger font-weight-bold">{{filter1.ateam}}</td>
          <td class="text-warning font-weight-bold">{{filter1.hteam}}</td>
          <td>20.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 </div>
</div>
</div>









